<configuration>

    <conversionRule conversionWord="coloredLevel"
                    converterClass="com.especialista.jpa.ColorLevelConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>

            <pattern>
                %coloredLevel%n
            </pattern>

        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.especialista.junit" level="debug"/>

    <logger name="com.especialista.jpa" level="debug"/>

</configuration>